<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/normalize.css"> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href="https://fontawesome.com/icons?d=gallery&m=free">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="main-header">
        <section class="main-header-top-bar">
            <picture class="logo">
            <a href="https://mercadoliebre2154.herokuapp.com/"><img  src="/images/logo-mercado-liebre.svg" alt="icono"></a>
                </picture>
         
                <form action="#" class="formsearch">
                    <input type="search" placeholder="Buscar productos, marcas"><button class="iconolupa"><i class="fas fa-search"></i></button>
                    </form>
             
                <article class="copy-header">
                <h2><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</h2>
                </article>
        </section>
            
            <nav class="main-navbar">
             <ul class="left-navbar">
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/tiendasoficiales">Tiendas Oficiales</a></li>
                <li><a href="/vender">Vender</a></li>
                <li><a href="/ayuda">Ayuda</i></a></li>
            </ul>
            <ul class="rigth-navbar">
                <li><a href="https://mercadoliebre2154.herokuapp.com/registrar">Crea tu cuenta <i class="far fa-id-card"></i></li></a> 
                <li><a href="https://mercadoliebre2154.herokuapp.com/ingresar">Ingresa <i class="fas fa-sign-out-alt"></i></li></a> 
                <li><a href="https://mercadoliebre2154.herokuapp.com/">Mis compras <i class="fas fa-shopping-basket"></i></li></a> 
            </ul>
            </nav>
            <div class="burger-menu">
                <a class="tresbarras" href="/menu"><i class="fas fa-bars"></i></a>
            </div> 
    </header>
    <picture>
        <img class="banner" src="/images/img-home-banner.jpg" alt="banner">
    </picture>    
    <main>
        <h2 class="titulares">Sección: Basado en tu última visita</h2>
        <section class="cajadecajas">
        <article class="caja-producto">
            <a href="https://www.mercadolibre.com.ar/cafetera-nescafe-moulinex-dolce-gusto-mini-me-automatica-cherry-red-para-capsulas-monodosis-230v/p/MLA9834089?pdp_filters=category:MLA4340#searchVariation=MLA9834089&position=5&search_layout=stack&type=product&tracking_id=d2006cb8-bc35-42fa-a71f-c7ff95cc78ae" target="_blank">
            <picture>
              <img  src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
            </picture>
            <section class="detallecompleto">
                <section class="iconocamion2"><i class="fas fa-truck"></i></section>
                <p class="precio">$6.770</p>
                <p class="descuento">40% OFF</p>
                <h3 class="descripcion">Cafetera Moulinex</h3>
            </section></a>
        </article>
        <article class="caja-producto">
            <a href="https://articulo.mercadolibre.com.ar/MLA-899418020-apple-133-macbook-pro-touch-bar-2019-intel-i5-8gb-256ssd-_JM?searchVariation=69526481669#searchVariation=69526481669&position=14&search_layout=stack&type=item&tracking_id=52decf0d-8d28-4814-9e01-fd98176846d3" target="_blank">
            <picture>
                <img  src="/images/img-macbook-pro-2019.jpg" alt="cafetera">
            </picture>
            <section class="detallecompleto">
                <section class="iconocamion2"><i class="fas fa-truck"></i></section>
                <p class="precio">$230.000</p>
                <p class="descuento">20% OFF</p>
                <h3 class="descripcion">MacBook Pro 2019</h3>
            </section></a>
        </article>
        <article class="caja-producto">
            <a href="https://articulo.mercadolibre.com.ar/MLA-823670788-samsung-galaxy-s10-bueno-azul-liberado-_JM?searchVariation=82950655197#searchVariation=82950655197&position=5&search_layout=stack&type=item&tracking_id=082e3383-1fae-4b9c-b552-a19e216d0621" target="_blank">
            <picture>
                <img  src="/images/img-samsung-galaxy-s10.jpg" alt="cafetera">
            </picture>
            <section class="detallecompleto">
                <section class="iconocamion2"><i class="fas fa-truck"></i></section>
                <p class="precio">$70.500</p>
                <p class="descuento">10% OFF</p>
                <h3 class="descripcion">Samsung Galaxy S10</h3>
            </section></a>
        </article>
        <article class="caja-producto">
            <a href="https://articulo.mercadolibre.com.ar/MLA-936011130-smart-tv-43-pulgadas-1080p-samsung-t5300-un43t5300-hdr-x30c-_JM#position=22&search_layout=stack&type=item&tracking_id=c5f2164a-eacd-48d3-ab10-dc44cede2f9f" target="_blank">
            <picture>
                <img  src="/images/img-tv-samsung-smart.jpg" alt="cafetera">
            </picture>
            <section class="detallecompleto">
                <section class="iconocamion2"><i class="fas fa-truck"></i></section>
                <p class="precio">$23.200</p>
                <p class="descuento">5% OFF</p>
                <h3 class="descripcion">SmartTv Samsung 43"</h3>
            </section></a>
        </article>    
    </section>
    <br>
        <h2 class="titulares">Sección de Ofertas</h2>
        <section class="cajadecajas">
            <article class="caja-producto">
                <a href="https://www.mercadolibre.com.ar/cafetera-nescafe-moulinex-dolce-gusto-mini-me-automatica-cherry-red-para-capsulas-monodosis-230v/p/MLA9834089?pdp_filters=category:MLA4340#searchVariation=MLA9834089&position=5&search_layout=stack&type=product&tracking_id=d2006cb8-bc35-42fa-a71f-c7ff95cc78ae" target="_blank">
                <picture>
                  <img  src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                </picture>
                <section class="detallecompleto">
                    <section class="iconocamion2"><i class="fas fa-truck"></i></section>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <h3 class="descripcion">Cafetera Moulinex</h3>
                </section></a>
            </article>
            <article class="caja-producto">
                <a href="https://articulo.mercadolibre.com.ar/MLA-899418020-apple-133-macbook-pro-touch-bar-2019-intel-i5-8gb-256ssd-_JM?searchVariation=69526481669#searchVariation=69526481669&position=14&search_layout=stack&type=item&tracking_id=52decf0d-8d28-4814-9e01-fd98176846d3" target="_blank">
                <picture>
                    <img  src="/images/img-macbook-pro-2019.jpg" alt="cafetera">
                </picture>
                <section class="detallecompleto">
                    <section class="iconocamion2"><i class="fas fa-truck"></i></section>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                    <h3 class="descripcion">MacBook Pro 2019</h3>
                </section></a>
            </article>
            <article class="caja-producto">
                <a href="https://articulo.mercadolibre.com.ar/MLA-823670788-samsung-galaxy-s10-bueno-azul-liberado-_JM?searchVariation=82950655197#searchVariation=82950655197&position=5&search_layout=stack&type=item&tracking_id=082e3383-1fae-4b9c-b552-a19e216d0621" target="_blank">
                <picture>
                    <img  src="/images/img-samsung-galaxy-s10.jpg" alt="cafetera">
                </picture>
                <section class="detallecompleto">
                    <section class="iconocamion2"><i class="fas fa-truck"></i></section>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF</p>
                    <h3 class="descripcion">Samsung Galaxy S10</h3>
                </section></a>
            </article>
            <article class="caja-producto">
                <a href="https://articulo.mercadolibre.com.ar/MLA-936011130-smart-tv-43-pulgadas-1080p-samsung-t5300-un43t5300-hdr-x30c-_JM#position=22&search_layout=stack&type=item&tracking_id=c5f2164a-eacd-48d3-ab10-dc44cede2f9f" target="_blank">
                <picture>
                    <img  src="/images/img-tv-samsung-smart.jpg" alt="cafetera">
                </picture>
                <section class="detallecompleto">
                    <section class="iconocamion2"><i class="fas fa-truck"></i></section>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% OFF</p>
                    <h3 class="descripcion">SmartTv Samsung 43"</h3>
                </section></a>
            </article>    
        </section>
    </main>
    <footer>
        <section class="foot-footer">
            <ul class="list-footer">
                <li><p class="icono-footer"><i class="fas fa-credit-card -2em"></i></p></li> 
                <li><h4>Pagá con tarjeta o en efectivo</h4></li>
                <li><p class="texto-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p></li>
            </ul>
            <ul class="list-footer"> 
                <li><p class="icono-footer"><i class="fas fa-gift"></i></p></li>
                <li><h4>Envío gratis desde $ 2.500</h4></li>
                <li><p class="texto-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p></li>
            </ul>
            <ul class="list-footer">   
                <li><p class="icono-footer"><i class="fas fa-user-shield"></i></p></li> 
                <li><h4>Seguridad, de principio a fin</h4></li>
                <li><p class="texto-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p></li>
            </ul>
          <br>  
          </section>
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L</p>
    </footer>
</body>
</html>

